[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
shortuuid = "*"
bivalve = "*"
"discord.py" = "*"
dataclass-wizard = {extras = ["yaml"], version = "*"}
xeno = "*"
isodate = "*"
croniter = "*"
types-croniter = "*"
selenium = "*"
tabulate = "*"
price-parser = "*"
commandmap = "*"

[dev-packages]
neovim = "*"
shortuuid = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.12"
